footer
    div
        a(href="/aboutUs.html")
            img(src="/img/theatre logo.png", width="130px")
        h1 OPEN SKY FESTIVAL
    div
        p#footer
            | Created by
            a(target="_blank", href="https://github.com/Nikola-Gjurovski?tab=repositories") Nikola Gjurovski