extends base

block content
    main.login
      .main-inside
        form.main-block
          h1 LOG INTO YOUR ACCOUNT
          label(for="email") Email adress
          input#email(type="email", placeholder="you@example.com", required)
          label(for="password") Password
          input#password(class="form__input", type="password", placeholder="••••••••", required, minlength="8")
          button LOGIN